@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.spotlight {
  
    position: relative;
}

/* The existing .spotlight effect */
.spotlight::before,
.spotlight::after {
  content: "";
  position: absolute;
  z-index: -1; /* Behind the content */
  border-radius: 50%;
  background-color: rgba(5, 99, 241, 0.3); /* Light white with some transparency */
  filter: blur(200px); /* Adjust blur level */
  pointer-events: none; /* Ensures the blur doesn't interfere with user interaction */
}

/* Position and size for the top-right .spotlight */
.spotlight::before {
  top: 5%;
  right: 5%;
  width: 35vw; /* Responsive width */
  height: 35vw; /* Responsive height */
}

/* Position and size for the bottom-left .spotlight */
.spotlight::after {
  bottom: 5%;
  left: 5%;
  background: rgba(239, 26, 239, 0.283);
  width: 35vw; /* Responsive width */
  height: 35vw; /* Responsive height */
}

/* Add smaller sizes for smaller screens */
@media (max-width: 768px) {
  .spotlight::before, .spotlight::after {
    width: 60vw;  /* Slightly bigger on smaller screens */
    height: 60vw;
  }
}

@media (max-width: 480px) {
  .spotlight::before, .spotlight::after {
    width: 80vw;  /* Even bigger for small mobile screens */
    height: 80vw;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
